# Auto detect text files and perform LF normalization
* text=auto
*.shader linguist-language=C#
*.shader linguist-vendored
*.hlsl linguist-vendored
*.hlsl linguist-language=C#

/Assets/Shaders/* linguist-vendored
